<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <h1 class="d-flex justify-content-center">BirdFindr Leaderboards:</h1>
    <%- include("./partials/nav.ejs") %>
    <!-- Display Leaderboard -->
    <% if (data == undefined) { %>
        <p>No data found.</p>
    <% } else { %>
        <div class="container">
            <div class="d-flex flex-wrap mb-3">
                <% let i = 1; %>
                <% for (const item of data) { %>
                    <div class="card m-3 p-3 border border-0" style="width: 18rem; box-shadow: 3px 3px 6px black;">
                        <span class="card-title">Rank #<%= i %></span>
                        <h5 class="card-title"><b>Name:</b> <%= item.userDisplayName %></h5>
                        <p class="card-text"><b>Species found:</b> <%= item.numSpecies %></p>
                    </div>
                    <% i++; %>            
                <% } %>
            </div>
        </div>
    <% } %>
               
    <%- include("./partials/footer.ejs") %>
</body>

</html>